*.ipr
*.iml
*.iws
*.pyc
*.pyo
.idea/
.idea_modules/
.settings
.cache
.DS_Store
.project
.classpath
.scala_dependencies
lib_managed/
src_managed/
target/
reports/
metastore_db/
derby.log
dependency-reduced-pom.xml
